p {
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
}
pre {
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
}
.darkMode {
  background-color: black;
  color: white;
}
.bodyWeather p {
  font-size: larger;
  font-weight: 600;
}
.headerWeather p {
  font-size: larger;
}
.container {
  text-align: center;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-overflow: hidden;
}
.navLink {
  border: 1px solid rgba(72, 71, 71, 0.33);
  position: absolute;
  margin-top: 1.2em;
  border-radius: 4px;
  z-index: 1;
  background-color: white;
  width: 65em;
  height: 3.5em;
  box-shadow: 2px 2px 2px rgba(59, 58, 58, 0.508);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: rgb(255, 250, 250);
}
.navLink ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  font-size: 1.4em;
  font-weight: 600;
  align-items: center;
  margin-left: 1em;
  padding: 0;
}
.navLink li {
  width: 7.4em;
  display: flex;
  flex-direction: column;
  margin-left: -22px;
  margin-top: 1px;
  padding: 14px 0px;
  cursor: pointer;
}
.navLink li:hover {
  background-color: rgba(0, 0, 0, 0.241);
  box-shadow: 2px 2px 2px rgba(59, 58, 58, 0.508);
}

.inBox {
  margin-top: 3em;
  border: 1px solid rgba(72, 71, 71, 0.33);
  border-radius: 4px;
  height: 40em;
  width: 80em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(59, 58, 58, 0.508);
  background-color: rgba(255, 250, 250, 0.535);
  text-overflow: hidden;
}
.weatherBox {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  text-overflow: hidden;
}

.weather {
  border: 1px solid rgba(72, 71, 71, 0.33);
  width: 23em;
  height: 35em;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(59, 58, 58, 0.508);
  box-sizing: border-box;
  background-color: white;
  margin-top: 2em;
  text-overflow: hidden;
}
.headerWeather {
  border-bottom: 1px solid rgba(72, 71, 71, 0.33);
  width: 100%;
  height: 2.8em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footerWeather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -35px;
}
.footerWeather ul li {
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(72, 71, 71, 0.33);
  margin-bottom: -2px;
  margin-top: 1px;
}

.icons {
  max-width: 100%;
  max-height: 100%;
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.bodyWeather {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}
.weatherImg {
  width: 8em;
  height: 8em;
}

.hoursWeatherBox {
  border: 1px solid rgba(72, 71, 71, 0.33);
  background-color: white;
  border-radius: 4px;
  height: 16em; /*30 -101 vh */
  width: 54em;
  box-shadow: 2px 2px 2px rgba(59, 58, 58, 0.508);
  margin-top: 2em;
}
.listSingle {
  margin-top: -14px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.singleHours {
  border-right: 1px solid rgba(72, 71, 71, 0.33);
  width: 10.6em;
  height: 11em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.singleHours p {
  margin-top: -15px;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: -10px;
}
.singleDay p {
  margin-top: -15px;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: -10px;
}

.singleHours img {
  margin-top: -10px;
  margin-bottom: 0;
}
.singleDay img {
  margin-top: -10px;
  margin-bottom: 0;
}
.daysWeatherBox {
  border: 1px solid rgba(72, 71, 71, 0.33);
  background-color: white;
  border-radius: 4px;
  width: 54em;
  height: 18em; /* 101- 33.5 vh */
  box-shadow: 2px 2px 2px rgba(59, 58, 58, 0.508);
  text-overflow: hidden;
}
.singleDay {
  border-right: 1px solid rgba(72, 71, 71, 0.33);
  width: 10.6em;
  height: 11em; /* 20- 23 vh */
  margin-top: 6px;
  text-overflow: hidden;
}
.bg {
  max-width: 100%;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
button {
  background-color: #1b4de4;
  color: white;
  outline: none;
  border: none;
  border-radius: 14px;
  padding: 7px 16px;
  cursor: pointer;
  font-weight: 600;
  margin: 3px;
  margin-right: 43em;
  opacity: 0.9;
}
button:hover {
  opacity: 1;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.467);
}
