p {
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
}
pre {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}
.bodyWeather p {
  font-size: larger;
  font-weight: 600;
}
.headerWeather p {
  font-size: larger;
}
.container {
  text-align: center;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.navLink {
  border: 1px solid rgba(72, 71, 71, 0.33);
  position: absolute;
  margin-top: 20px;
  border-radius: 4px;
  z-index: 1;
  background-color: white;
  width: 60em;
  height: 3.5em;
  box-shadow: 2px 2px 2px rgba(59, 58, 58, 0.508);
}
.inBox {
  margin-top: 3em;
  border: 1px solid rgba(72, 71, 71, 0.33);
  border-radius: 4px;
  height: 75vh;
  width: 76em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(59, 58, 58, 0.508);
  background-color: rgba(255, 250, 250, 0.333);
}
.weatherBox {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
}

.weather {
  border: 1px solid rgba(72, 71, 71, 0.33);
  width: 23em;
  height: 34em;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(59, 58, 58, 0.508);
  box-sizing: border-box;
  background-color: white;
}
.headerWeather {
  border-bottom: 1px solid rgba(72, 71, 71, 0.33);
  width: 100%;
  height: 2.8em;
  display: flex;
  justify-content: center;
}
.footerWeather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -35px;
}
ul li {
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(72, 71, 71, 0.33);
  margin-bottom: -8px;
  margin-top: 3px;
}

.icons {
  max-width: 100%;
  max-height: 100%;
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.bodyWeather {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.weatherImg {
  width: 8em;
  height: 58m;
}

.hoursWeatherBox {
  border: 1px solid rgba(72, 71, 71, 0.33);
  background-color: white;
  border-radius: 4px;
  height: 30vh;
  width: 50em;
  box-shadow: 2px 2px 2px rgba(59, 58, 58, 0.508);
}
.listSingle {
  margin-top: -14px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.singleHours {
  border-right: 1px solid rgba(72, 71, 71, 0.33);
  width: 17vh;
  height: 21vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.singleHours p {
    margin-top: -15px;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: -10px;
}

.singleHours img {
    margin-top: -10px;
    margin-bottom: 0;
}
.daysWeatherBox {
  border: 1px solid rgba(72, 71, 71, 0.33);
  background-color: white;
  border-radius: 4px;
  width: 50em;
  height: 30vh;
  box-shadow: 2px 2px 2px rgba(59, 58, 58, 0.508);
}
.bg {
  max-width: 100%;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
button {
    background-color: #1b4de4;
    color: white;
    outline: none;
    border: none;
    border-radius: 14px;
    padding: 7px 16px;
    cursor: pointer;
    font-weight: 600;
    margin: 3px;
    margin-right: 68.5vh;
    opacity: 0.9;
}
button:hover{
    opacity: 1;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.467);
}
